/**
 *  reset
 */
body,h1,h2,h3,h4,p,dl,dd,ul,ol,form,input,textarea,th,td,select{margin: 0;padding: 0;}
em{font-style: normal;}
li{list-style: none;}
a{text-decoration: none;}
img{border: none;vertical-align: top;}
table{border-collapse: collapse;}
input,textarea{outline: none;}
textarea{resize:none;overflow: auto;}
body{font-size:12px;font-family: "Microsoft Yahei",arial;}

/**
 *  common
 */
.f-clear{
    zoom: 1;}
.f-clear:after{
    content: "";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
}
.bg-f5{
    background-color: #f5f5f5!important;
}
.bg-white{
    background-color: #fff!important;
}
.bg-white td{
    background-color: #fff!important;
}


.header{
    height: 49px;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.header-lt{
    position: absolute;
    left: 15px;
    font-size: 14px;
    color: #4882ab;
    top: 20px;
    font-weight: bold;
}
.header-rt{
    position: absolute;
    left: 231px;
    font-size: 14px;
    color: #333;
    top: 22px;
}
.content-detail td{
    border: 1px solid #ccc;
    text-align: left;
    min-width: 120px;
    padding: 0 8px;
    line-height: 20px;
    background-color: #f5f5f5;
    /*height: 100%;*/
}
.content-detail input[type=text]{
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
}
.content-detail input[type=checkbox]{
    vertical-align: middle;
    margin-left: 4px;
}
.input-width input[type=text]{
    width:70% ;
    background-color: #FFFFFF;
    text-align: left;
}
.input-width input[type=checkbox]{
    width:15px;
    height:15px;
}
.input-width input[type=radio]{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.typesed input[type=text]{
    width:25%;
    height:40%;
}
.typesed input[type=radio]{
    margin-right: 20px;
}
.content-nav{
    float: left;
    width: 230px;
    margin: 6px 8px 0px 7px;
}
.content-nav li{
    width: 192px;
    height: 19px;
    margin-bottom: 2px;
    border: 1px solid #e5e4e4;
    border-radius: 2px;
    background: url("content-nav-bg.png") no-repeat 9px 10px;
    background-color: #E5ECF1;
    cursor: pointer;
}
.content-nav .active{
    background-image: url("content-nav-bg-white.png");
    background-color: #6196bb;
}
.content-nav .active a{
    color: #fff;
}
.content-nav li{
	/* text-align:center; */
	line-height:30px;
	width:220px;
	height:30px;

}
.content-nav li a{
    width: 100%;
    height: 100%;
    display: inline-block;
    font-size: 14px;
    color: #333333;
    line-height: 19px;
    margin-left: 22px;
}
.content-detail{
    max-width: 800px;
    float: left;
    border-left: 1px solid #ccc;
    padding-left: 26px;
    padding-right: 26px;
    min-height: 760px;
}
.content-detail h2{
    font-size: 12px;
    color: #333333;
    font-weight: normal;
    margin-top: 19px;
    margin-bottom: 25px;
    width: 100%;
    position: relative;
}
.content-detail h2 select{
    position: absolute;
    top: 0;
    right: 0;
}
.content-detail h2 span{
    margin-left: 3px;
    font-size: 12px;
    color: #333333;
    font-weight: normal;
}
.content-detail table{
    width: 788px;
    border: 1px solid #ccc;
}
.content-detail table tr{
    height: 33px;
}
.content-detail table td.fir-td{
    background-color: #f5f5f5;
    width: 250px;
    /*width: 280px;*/
    /*text-indent: 28px;*/
}
.content-detail table td.thr-td{
    background-color: #f5f5f5;
    width: 280px;
    /*text-indent: 28px;*/
}
.content-detail table td span{
    font-size: 12px;
    color: #333;
}
.content-detail table td .inp-left{
    /*width: 123px;*/
    /*height: 21px;*/
    /*border: 1px solid #ccc;*/
    /*border-radius: 2px;*/
}
.content-detail table td .inp-right{
    /*width: 90px;*/
    /*height: 21px;*/
    /*border: 1px solid #ccc;*/
    /*border-radius: 2px;*/
}
.content-detail table tr{
    border-bottom: 1px solid #e6e2e2;
}
.content-save{
    margin-top: 23px;
    text-align: right;
    margin-bottom: 20px;
}
.save-btn{
    width: 66px!important;
    height: 30px;
    background-color: #467ca2;
    line-height: 34px;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    margin-right: 61px;
    margin-bottom: 46px;
    cursor: pointer;
}
.tuopin-btn .sec-td input,.tez-btn .sec-td input{
    vertical-align: middle;
}
.tuopin-btn .sec-td span,.tez-btn .sec-td span{
    margin-left: 2px;
    /*margin-right: 8px;*/
    vertical-align: middle;
}
.content-detail table td .del-thistd-btn{
    font-size: 14px;
    color: #467ca2;
    text-decoration: underline;
    cursor: pointer;
}
input[type="text"]:focus{
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
input[type="text"]{
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    padding: 0;
}
.content-nav .active{
    display: inline-block;
    font-size: 14px;
    color: #333333;
    line-height: 19px;
    text-indent: 22px;
    cursor: pointer;
    line-height: 30px;
}
.yearSelect{
    width: 30px !important;
}
#tab-1 .controls input[type=text]{
    width: 150px;
    height:20px;
    border: 1px solid #ccc;
    text-align: start;
    padding: 4px 6px 4px 6px;
}
#tab-1 #years{
    width: 60px;
}
#tab-1 .form-horizontal .controls{
    margin-left: 164px;
}
.tooltip-inner{
    border: 1px solid #467ca2;
    color: rgb(254,6,20);
    background-color: #f9f9f9;
}
.tooltip.top .tooltip-arrow{
    border-top-color: #467ca2;
}
.tooltip.in{
    opacity: 1;
    filter: alpha(opacity=100);
}
/** media screen 1366 **/
@media screen and (max-width:1400px) {
    #tab-15{
        max-width: 820px;
    }
}